main .logo-container,
#contenido .logo-container,
.partidas-page .logo-container{
  display:flex;
  align-items:center;
  justify-content:center;
}

#page {
  max-width: 70px;
}

.table td, .table th {
  vertical-align: middle;
}
